<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Capacitaciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <link th:href="@{/css/css.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div th:replace="nav :: nav"></div>


    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-9 p-3 ">
                <div class="card card-registration my-4 bg-dark fcn">
                    <div class="row g-0 p-5 ">

                        <h1 style="padding:10px; text-align:center;">Administrativos</h1>

                        <div class="table-responsive">
                            <table class="table table-dark table-striped border border-light" id="administrativos">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Area</th>
                                    <th>Experiencia</th>
                                    <th>Editar</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="a: ${administrativos}">
                                    <th th:text="${a.getId()}"></th>
                                    <td th:text="${a.getArea()}"></td>
                                    <td th:text="${a.getExperiencia()}"></td>
                                    <td><a class="link-secondary"
                                           th:href="@{/usuarios/administrativo/{id}(id=${a.getId()})}">
                                        <i class="fa-solid fa-pen"></i></a>
                                    </td>

                                </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaQuerry datatable-->
<script
        src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>


<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
		$(document).ready(function() {
	    $('#administrativos').DataTable();
            });
</script>

<!-- simboliwis-->
<script src="https://kit.fontawesome.com/81a2ed02b0.js" crossorigin="anonymous"></script>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>
</html>