<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/css.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div th:replace="nav :: nav"></div>

    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">

                            <div class="col-xxl-6 col-xl-3 col-md-1 d-none d-xl-block">
                                <img src="https://i.pinimg.com/originals/a7/a5/bd/a7a5bdecb77f7e56279f792eadb68c22.gif"
                                     height="2000" width="2000" alt="cosiwis" class="img-fluid"
                                     Style="height:100%;"/>
                            </div>

                            <div class="col-xxl-6 col-xl-9 col-md-11">
                                <div class="card-body p-md-5 bg-dark fcn">
                                    <h3 class="mb-5 text-uppercase">Edición de Profesional</h3>

                                    <hr>
                                    <h5 class="mb-5 text-uppercase">Datos Profesional</h5>
                                    <form th:action="@{/usuarios/profesional}" method="post" class="form">

                                        <div id="tipoUsuario">

                                            <!-- profesional -->
                                            <div th:object="${p}" id="profesional" >

                                                <div Style="display:none;">
                                                    <input type="number" id="identificador" name="identificador"
                                                           th:field="*{id}" />
                                                    <input type="number" id="idUsuario" name="idUsuario"
                                                           th:field="*{idUsuario}" />
                                                </div>

                                                <div class="form-outline mb-4">

                                                    <label class="form-label" for="titulo">Título</label>
                                                    <input required minlength="10" maxlength="50" type="text"
                                                           id="titulo" name="titulo"
                                                           class="form-control form-control-lg"
                                                           th:field="*{titulo}"/>
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="ingreso">Fecha de Ingreso</label>
                                                    <input type="date" id="ingreso" name="ingreso"
                                                           class="form-control form-control-lg"
                                                           th:field="*{ingreso}" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- botones -->
                                        <div class="d-flex justify-content-end pt-3">
                                            <button type="reset" class="btn btn-lg btn-dark">Reiniciar</button>
                                            <button  id="submit" type="submit" class="btn btn-light btn-lg ms-2">Enviar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>
</html>